:root {
    --bg-color: rgb(255, 255, 255);
    --bg-gadient-one: rgb(254, 106, 130);
    --bg-gadient-two: rgb(209, 78, 174);
    --bg-gadient-three: rgb(146, 37, 240);
    --body-text:;
    --heading-text: rgb(255, 255, 255);
    --link-text: rgb(88, 39, 130);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
    max-width: 1250px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-header {
    background: var(--bg-gadient-one);
    background: linear-gradient(45deg, var(--bg-gadient-one) 20%, var(--bg-gadient-two) 50%, var(--bg-gadient-three) 80%);

    width: 100%;
    height: 445px;
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.header-navigation {
    width: 100%;
    height: 4.375em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-navigation_list {
    width: 25em;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;
    text-transform: uppercase;
}

.header-navigation_item {

}

.header-navigation_link {
    font-size: 1em;
    color: var(--link-text);
    text-decoration: none;
}

.header-brand {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-brand__heading {
    color: var(--heading-text);
    font-size: 7em;
    line-height: 0.85em;
    text-transform: lowercase;
    margin: 0;
}

.header-brand__subheading {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
    color: var(--heading-text);
    letter-spacing: 5px;
}

.header-waves {
    position: absolute;
    bottom: -60px;
    right: 0;
    border: solid blue 1px;

}

.header-wave__top {
    background-image: url('../img/wave-top2.svg');
    /*background-repeat: repeat-x;*/
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;

    /*padding-bottom: 20px;*/

    top: 10px;
    right: 50px;
    border: solid green 1px;
}

.header-wave__bottom {
    background-image: url('../img/wave-top.svg');
    /*background-repeat: repeat-x;*/
    background-repeat: no-repeat;
    width: 700px;
    height: 100px;
    border: solid yellow 1px;

}
