:root {
    --background-color: rgb(255, 255, 255);
    --body-text: rgb(88, 39, 130);
    --heading-text: rgb(255, 255, 255);
    --form-input-text: rgb(239, 220, 255);
    --form-button-color: rgb(255, 255, 255);

    --section-text-number-one: rgb(228, 121, 215);
    --section-text-number-two: rgb(251, 127, 151);
    --section-text-number-three: rgb(229, 32, 181);

    --header-gadient-one: rgb(254, 106, 130);
    --header-gadient-two: rgb(209, 78, 174);
    --header-gadient-three: rgb(146, 37, 240);

    --footer-gradient-one: rgb(255, 127, 196);
    --footer-gradient-two: rgb(147, 38, 240);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: var(--body-text);
    background-color: var(--background-color);
    font-family: 'Montserrat', sans-serif;

    /*robocze*/
    max-width: 1250px;
    margin: 0 auto;
    /*robocze*/
}

.page-header {
    width: 100%;
    height: 27.85em;
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background: var(--header-gadient-one);
    background: linear-gradient(45deg,
    var(--header-gadient-one) 20%,
    var(--header-gadient-two) 50%,
    var(--header-gadient-three) 80%);
}

.header-navigation {
    width: 100%;
    height: 4.8em;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.header-navigation__list {
    width: 25.5em;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;
    text-transform: uppercase;
}

.header-navigation__link {
    color: var(--body-text);
    font-size: 0.87em;
    letter-spacing: 0.2em;
    text-decoration: none;
}

.header-brand {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-brand__heading {
    color: var(--heading-text);
    font-family: 'Montserrat', sans-serif;
    font-size: 7em;
    line-height: 0.9em;
    text-transform: lowercase;
}

.header-brand__subheading {
    color: var(--heading-text);
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    letter-spacing: 0.13em;
    text-transform: lowercase;
}

.header-waves {

}

.header-wave__top {

}

.header-wave__bottom {

}

.content-wrapper {
    width: 100%;
    max-width: 925px;
    margin: 40px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-text {
    width: 50%;
    position: relative;
    margin: 0 30px 0 100px;
}

.content-section:nth-child(2) .content-text {
    order: 2;
}

.section-text__number {
    font-size: 15.625em;
    letter-spacing: 0.2em;

    position: absolute;
    left: -0.4em;
    top: -0.232em;
    z-index: -1;
}

.section-text__number--one {
    color: var(--section-text-number-one);
}

.section-text__number--two {
    color: var(--section-text-number-two);
}

.section-text__number--three {
    color: var(--section-text-number-three);
}

.section-text__heading {
    font-size: 1.5em;
    letter-spacing: 5px;
}

.section-text__content {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    line-height: 1.7;

    max-width: 370px;
    margin: 30px 0 0 0;
}

.section-text__button {
    color: var(--body-text);
    font-size: 0.9375em;
    font-weight: 700;

    width: 160px;
    height: 40px;
    margin: 25px 0 0 0;

    border: 2px solid var(--section-text-number-one);
    border-radius: 0;
    background: none;
}

.content-image {
    width: 50%;
}

.content-image__img {
    width: 100%;
    max-width: 410px;
}

.content-aside {
    height: 340px;
    margin: 85px 0;

    background-image: url('../img/fullbg.jpg');
    background-position: 50% 90%;
    background-size: 135%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.aside-wrapper {
    width: 100%;
    height: 100%;
    max-width: 926px;
    margin: 0 auto;
    transform: rotate(-180deg);

    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-text {
    color: var(--heading-text);
    font-size: 4.5em;
    text-transform: lowercase;
}

.page-footer {
    height: 450px;
    margin-top: 50px;
    padding: 10px 0 20px;

    background: var(--footer-gradient-one);
    background: linear-gradient(140deg,
                var(--footer-gradient-one) 0%,
                var(--footer-gradient-two) 100%);
}

.footer-wrapper {
    width: 100%;
    max-width: 926px;
    height: 100%;
    margin: 0 auto;

    display: flex;
}

.footer-text {
    width: 50%;
    margin: 40px 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-text__heading {
    font-size: 4em;
    margin: 65px 0 0 0;
}

.footer-text__credits {
    font-size: 0.70em;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.footer-contact {
    width: 50%;
    margin: 40px 0 0 0;
    padding-left: 100px;

    display: flex;
    flex-direction: column;
}

.footer-contact__form {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
}

.form__input {
    height: 40px;
    margin: 0 0 15px 0;
    border: none;
    color: var(--form-input-text);
    border-bottom: 2px solid #440c74;
    background: none;
}

.form__textarea {
    margin: 20px 0;
    padding: 10px;
    color: var(--form-input-text);
    border: 2px solid #440c74;
    overflow: auto;
    resize: none;
    background: none;
}

.form__button {
    width: 160px;
    height: 40px;

    font-size: 0.9375em;
    font-weight: 700;
    color: var(--form-button-color);

    border: 1px solid var(--form-button-color);
    border-radius: 0;
    background: none;
}
