.content-aside {
  height: 15em;
  margin: 40px 0;

  background-color: $aside-background;
  background-image: url('../img/fullbg.jpg');
  background-position: 50% 90%;
  background-size: 135%;
  background-repeat: no-repeat;
  transform: rotate(180deg);

  @media (min-width: $viewport-12) {
    height: 21.25em;
    margin: 85px 0;
  }
}

.aside-wrapper {
  width: 80%;
  max-width: 926px;
  height: 100%;
  margin: 0 auto;
  transform: rotate(-180deg);

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $viewport-12) {
    width: 100%;
    max-width: 926px;
  }

}

.aside-text {
  font-size: 4em;
  line-height: 1;
  text-transform: lowercase;
  text-align: center;
  color: $heading-text;

  @media (min-width: $viewport-4) {
    font-size: 4.5em;
  }

  @media (min-width: $viewport-7) {
    font-size: 4.5em;
  }

  @media (min-width: $viewport-9) {
    font-size: 4.5em;
  }

  @media (min-width: $viewport-12) {
    font-size: 4.5em;
  }
}
