.page-footer {
  margin: 5.3125em 0 0 0;

  background: $footer-gradient-one;
  background: -moz-linear-gradient(140deg,
          $footer-gradient-one 0%,
          $footer-gradient-two 100%);
  background: -webkit-linear-gradient(140deg,
          $footer-gradient-one 0%,
          $footer-gradient-two 100%);
  background: linear-gradient(140deg,
          $footer-gradient-one 0%,
          $footer-gradient-two 100%);

  @media (min-width: $viewport-12) {
    height: 28.125em;
  }
}

.footer-wrapper {
  width: 100%;

  margin: 0 auto;
  padding: $wrapper-padding;

  display: flex;
  flex-direction: column;

  @media (min-width: $viewport-7) {
    max-width: $wrapper-max-width;
    flex-direction: row;
  }
}

.footer-text {
  width: 100%;
  margin: 2.5em 0 0 0;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @media (min-width: $viewport-7) {
    width: 50%;
    margin: 6em 0 0 0;
  }

  &__heading {
    font-size: 3em;

    @media (min-width: $viewport-4) {
      font-size: 3.5em;
    }

    @media (min-width: $viewport-12) {
      font-size: 4em;
    }
  }
}

.footer-contact {
  width: 100%;
  margin: 2.5em 0 2.5em 0;

  display: flex;
  flex-direction: column;

  @media (min-width: $viewport-7) {
    width: 50%;
    padding: 0 0 0 6.25em;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}

.form {
  &__label {
    font-size: 0.75em;
    font-family: 'Roboto', sans-serif;
  }

  &__input {
    height: 40px;
    margin: 0 0 15px 0;

    border: none;
    border-bottom: 2px solid #440c74;

    color: $form-input-text;
    background: none;
  }

  &__textarea {
    margin: 20px 0;
    padding: 10px;

    border: 2px solid #440c74;
    overflow: auto;
    resize: none;

    color: $form-input-text;
    background: none;
  }

  &__button {
    width: 160px;
    height: 40px;

    font-size: 0.9375em;
    font-weight: 700;

    border: 1px solid $form-button;
    border-radius: 0;

    color: $form-button;
    background: none;
  }
}
