.section-wrapper {
  width: 100%;
  margin: 40px auto;
  padding: 0 20px 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $viewport-4) {
    max-width: 70%;
  }

  @media (min-width: $viewport-7) {
    max-width: 925px;
    flex-direction: row;
  }

  @media (min-width: $viewport-12) {
    max-width: 925px;
    flex-direction: row;
  }
}

.section-text {
  width: 100%;
  position: relative;
  text-align: justify;

  @media (min-width: $viewport-7) {
    width: 50%;
    margin: 0 30px 0 100px;
  }

  @media (min-width: $viewport-12) {
    width: 50%;
    margin: 0 30px 0 100px;
  }
  &--two {

    @media (min-width: $viewport-12){
      order: 2;
      margin: 0 30px 0 150px;
    }
  }

  &__number {
    font-size: 10em;
    letter-spacing: 0.2em;

    position: absolute;
    z-index: -1;

    @media (min-width: $viewport-12) {
      font-size: 15.625em;

      top: -0.232em;
      left: -0.4em;
    }

    &--one {
      color: $section-text-number-one;
    }

    &--two {
      color: $section-text-number-two;
    }

    &--three {
      color: $section-text-number-three;
    }
  }
}

.section-text__heading {
  font-size: 1.5em;
  letter-spacing: 5px;
}

.section-text__content {
  font-size: 0.75em;
  margin: 30px 0 0 0;
  letter-spacing: 0.1em;
  line-height: 1.7;
  font-family: 'Roboto', sans-serif;

  @media (min-width: $viewport-12) {
    max-width: 370px;
  }
}

.section-text__button {
  width: 160px;
  height: 40px;
  margin: 25px 0 0 0;

  color: $body-text;
  font-size: 0.9375em;
  font-weight: 700;

  border: 2px solid $section-text-number-one;
  border-radius: 0;
  background: none;
}

.section-image {
  width: 100%;
  margin: 30px 0 0 0;

  @media (min-width: $viewport-7) {
    width: 50%;
    margin: 0 30px 0 100px;
  }

  @media (min-width: $viewport-12) {
    width: 50%;
  }


  &__img {
    width: 100%;

    @media (min-width: $viewport-12) {
      max-width: 410px;
    }
  }
}
