// colors
$body-text: rgb(88, 39, 130);
$body-background: rgb(255, 255, 255);

$heading-text: rgb(255, 255, 255);
$aside-background: rgb(241, 124, 143);
$form-input-text: rgb(239, 220, 255);
$form-button: rgb(255, 255, 255);

$header-gadient-one: rgb(254, 106, 130);
$header-gadient-two: rgb(209, 78, 174);
$header-gadient-three: rgb(146, 37, 240);

$section-text-number-one: rgb(228, 121, 215);
$section-text-number-two: rgb(251, 127, 151);
$section-text-number-three: rgb(229, 32, 181);

$footer-gradient-one: rgb(255, 127, 196);
$footer-gradient-two: rgb(147, 38, 240);

// breakpoints
$viewport-4: 480px;
$viewport-7: 768px;
$viewport-9: 992px;
$viewport-12: 1200px;

// lenghts
$wrapper-max-width: 965px;
$wrapper-padding: 0 20px 0 20px;

