$background-color: rgb(255, 255, 255);
$body-text: rgb(88, 39, 130);
$heading-text: rgb(255, 255, 255);
$form-input-text: rgb(239, 220, 255);
$form-button-color: rgb(255, 255, 255);

$section-text-number-one: rgb(228, 121, 215);
$section-text-number-two: rgb(251, 127, 151);
$section-text-number-three: rgb(229, 32, 181);

$header-gadient-one: rgb(254, 106, 130);
$header-gadient-two: rgb(209, 78, 174);
$header-gadient-three: rgb(146, 37, 240);

$footer-gradient-one: rgb(255, 127, 196);
$footer-gradient-two: rgb(147, 38, 240);
